<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="abcspuppyzs" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="text/html" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
