<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="red"> -->

  <!-- SCHEMA -->
  <!-- <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://sheikh-tabarak.github.io/abcspuppyzs/",
      "logo": "https://sheikh-tabarak.github.io/abcspuppyzs/public/images/abcs.svg"
    }
  </script> -->
  <!-- <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "PetStore",
        "image": "https://www.abcspuppyzs.com/assets/schema/abcs-puppy-zs-goldendoodle-puppy-pictures/mini-goldendoodle/mini-goldendoodles-puppies-group-photos.jpg",
        "name": "ABCs Puppy Zs",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "TX",
          "addressCountry": "US"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 31.000000,
          "longitude": -100.000000
        },
          "areaServed": {
            "@type": "State",
            "name": "Texas"
        },
          "url": "https://www.abcspuppyzs.com/",
          "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "06:00",
          "closes": "22:00"
        }
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "VideoObject",
          "position": 1,
          "name": "Videos From Our Pups and Their Forever-Home Families",
          "url": "https://www.abcspuppyzs.com/",
          "description": "We Cherish Our Pups and Their Forever Families. Hear the Williams Family Share their ABCs Puppy Zs Experience.",
          "thumbnailUrl": [
            "https://www.abcspuppyzs.com/assets/schema/abcs-puppy-zs-goldendoodle-logos/abcs.svg"
          ],
          "uploadDate": "2022-01-18T12:00:00-06:00",
          "duration": "PT10M",
          "contentUrl": "https://www.abcspuppyzs.com/assets/img/abcs-puppy-zs-reviews/abcspuppyzs-review-williamsae.mp4"
        },
        {
          "@type": "VideoObject",
          "position": 2,
          "name": "Straight From the Sources",
          "url": "https://www.abcspuppyzs.com/",
          "description": "We Feel Blessed Raising Goldendoodles. Meet Charlie and Moose, the Bissell Family's Two Amazing Micro Goldendoodles from ABCs Puppy Zs.",
          "thumbnailUrl": [
            "https://www.abcspuppyzs.com/assets/schema/abcs-puppy-zs-goldendoodle-logos/abcs.svg"
          ],
          "uploadDate": "2022-05-05T19:00:00-06:00",
          "duration": "PT10M",
          "contentUrl": "https://www.abcspuppyzs.com/assets/img/abcs-puppy-zs-reviews/abcspuppyzs-review-bissweat.mp4"
          }
      ]
    }
    </script> -->
  <!-- END SCHEMA -->

  <!-- 
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />

  <link rel="icon" type="image/x-icon" href="public/icons/favicon-circlepng.png">

  <link rel="preload" href="utilities/fonts/poppins-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="utilities/css/fonts.css">
  <link rel="stylesheet" href="utilities/css/style.css" /> -->


</head>

<body>
  <!-- GTMns -->
  <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDSS45K" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- END GTMns -->

  <header id="header">
    <div id="mySidenav" class="sidenav z-50">
      <div class="text-right">
        <a href="javascript:void(0)" class="absolute top-5 right-5 lg:text-2xl text-white hover:text-gray-200 p-2"
          onclick="closeNav()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" x="0px" y="0px" width="30" height="30"
            viewBox="0 0 50 50">
            <path
              d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
            </path>
          </svg>
        </a>
      </div>

      <div class=" ">
        <ul class="lg:text-2xl text-gray-100 px-10 pb-10 ">
          <li class="hover:text-[#25A3DC] leading-10">
            <a href="pages/about.html">ABOUT</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <a href="pages/chat.html">SCHEDULE TIME WITH US</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <details>
              <summary class="cursor-pointer">GOLDENDOODLES FOR SALE</summary>
              <ul class="lg:text-2xl text-gray-100 pl-4 leading-10">
                <li class="hover:text-[#25A3DC] ">
                  <a href="litters/pages/mini.html">Mini Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="litters/pages/micro.html">Micro Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="litters/pages/toy.html">Toy Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="litters/pages/teacup.html">Teacup Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="litters/pages/micro-teacup.html">Micro Teacup Goldendoodles</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <a href="pages/socialization.html">SOCIALIZATION</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <!-- <a href="https://www.abcspuppyzs.com/goldendoodle-favorites/">FAVORITES</a> -->
            <a href="pages/favorites.html">FAVORITES</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <!-- <a href="https://www.abcspuppyzs.com/goldendoodle-reviews/">REVIEWS</a> -->
            <a href="pages/reviews.html">REVIEWS</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <a href="pages/traits.html">TRAITS</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <a href="pages/faqs.html">FAQ</a>
          </li>
          <li class="hover:text-[#25A3DC] leading-10">
            <details>
              <summary class="cursor-pointer">TRAINING</summary>
              <ul class="lg:text-xl text-gray-100 pl-4 leading-8">
                <li class="hover:text-[#25A3DC]">
                  <a href="training/">Index
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/where-to-buy-a-goldendoodle.html"> ⦿ Where to Buy a Goldendoodle</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/how-much-exercise-does-a-goldendoodle-need.html">⦿ How Much Exercise Does a
                    Goldendoodle Need</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/how-to-care-for-a-goldendoodle-puppy.html"> ⦿ How to Care for a Goldendoodle
                    Puppy
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/how-to-crate-train-a-goldendoodle.html">
                    ⦿ How to Crate Train a Goldendoodle
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">

                  <a href="training/how-to-train-a-goldendoodle.html"> ⦿ How to Train A Goldendoodle
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/how-to-groom-a-goldendoodle.html"> ⦿ How to Groom A Goldendoodle
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/dangerous-food-for-dogs.html"> ⦿ Dangerous Food for Dogs
                  </a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="training/hip-dysplasia-in-dogs.html"> ⦿ Hip Dysplasia in Dogs
                  </a>
                </li>
              </ul>
            </details>
          </li>

          <li class="hover:text-[#25A3DC] leading-10">
            <details>
              <summary class="cursor-pointer">GROWTH PICTURES</summary>
              <ul class="lg:text-2xl text-gray-100 pl-4 leading-10">
                <li class="hover:text-[#25A3DC]">
                  <a href="growth-pictures/mini.html">Mini Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="growth-pictures/micro.html">Micro Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="growth-pictures/toy.html">Toy Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="growth-pictures/teacup.html">Teacup Goldendoodles</a>
                </li>
                <li class="hover:text-[#25A3DC]">
                  <a href="growth-pictures/micro-teacup.html">Micro Teacup Goldendoodles</a>
                </li>
              </ul>
            </details>
          </li>

        </ul>
      </div>
    </div>
    <div id="background-Overlay" class="w-0 fixed top-0 bottom-0 right-0 left-0 bg-black w-0 h-0 opacity-[0.7] z-40"
      onclick="closeNav()"></div>

    <div class="fixed top-0 w-full z-20">

      <!-- <div class="max-w-[1400px] mx-auto"> -->

      <div class="bg-[#36454F] w-full  px-5 lg:px-16">
        <div class="flex text-white h-10 items-center justify-between max-w-screen-xl mx-auto font-semibold uppercase">
          <a href="pages/delivery.html">
            <div>Delivery</div>
          </a>
          <a href="pages/pricing.html">
            <div>pricing</div>
          </a>
        </div>
      </div>

      <a href="https://www.abcspuppyzs.com/christmas-goldendoodles/">
        <div class="flex text-white items-center justify-between bg-[#186C91] w-full h-8 uppercase ">
          <marquee class="max-w-screen-xl mx-auto" behavior="" direction="">
            Christmas Litter Reservations AVAILABLE!
          </marquee>
        </div>
      </a>
      <div id="header-container" class=" px-5 lg:px-16 py-4 items-center bg-[#D0E2F2]">
        <div class=" flex justify-between max-w-screen-xl mx-auto">
          <a href='index.html'>
            <img class="w-24" src="public/images/abcs.svg" alt="" />
          </a>

          <div class="flex gap-4 justify-between items-center">
            <a href="pages/chat.html">

              <button
                class="lg:flex items-center text-3xl lg:text-base gap-4 lg:bg-[#186C91] lg:hover:bg-[#186C9198] tracking-widest text-white font-bold p-1 lg:py-2 lg:px-4 rounded-lg">
                <svg class="w-8 h-8 fill-[#186C91] lg:w-4 lg:h-4 lg:fill-white" version="1.1" id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 610.398 610.398" xml:space="preserve">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <g>
                        <path
                          d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052 c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553 V35.544V24.992C180.791,11.188,171.291,0,159.567,0z">
                        </path>
                        <path
                          d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992 h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z">
                        </path>
                        <path
                          d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117 V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818 c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764 V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z">
                        </path>
                        <path
                          d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z">
                        </path>
                        <path
                          d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017 c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z">
                        </path>
                        <path
                          d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z">
                        </path>
                        <path
                          d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z">
                        </path>
                        <path
                          d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z">
                        </path>
                        <path
                          d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032 c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z">
                        </path>
                        <path
                          d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z">
                        </path>
                        <path
                          d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
                <!-- </span> -->
                <span class="hidden lg:flex"> SCHEDULE TIME WITH US</span>

              </button>
            </a>

            <button onclick="openNav()" data-collapse-toggle="mobile-menu-2" type="button"
              class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="mobile-menu-2" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="#186C91" x="0px" y="0px" width="35" height="35"
                viewBox="0 0 50 50">
                <path
                  d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z">
                </path>
              </svg>
              <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>


          </div>
        </div>
        <!-- </div> -->

      </div>
    </div>
  </header>
</body>

</html>