<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        const hostname = window.location.hostname;
        let baseHref = '/';
        if (hostname === 'sheikh-tabarak.github.io') { baseHref = '/abcspuppyzs/'; }
        document.querySelector('base').setAttribute('href', baseHref);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <section class="bg-white border border-gray-200 rounded-lg shadow-lg px-2 lg:px-8 py-8 mx-8 lg:mx-16  my-8">
        <!-- <p
          class="pb-2 text-center md:text-left lg:text-left lg:text-left rounded-md bg-white text-md font-medium text-[#186C91]">
          ABCs Puppy Zs
        </p> -->
        <h2
            class="text-dark text-center md:text-left lg:text-left text-[#186C91] mb-2 text-xl font-bold sm:text-[40px]/[48px]">
            ABCs Puppy Zs

        </h2>

        <!-- <p class="text-xl font-extrabold text-center md:text-left lg:text-left leading-2 md:text-xl xl:text-3xl">
            WHY ABCS PUPPY ZS?
        </p> -->
        <p
            class="text-xs text-center text-gray-600 md:text-left lg:text-left leading-2 md:text-sm lg:text-md xl:text-md">
            ABCs Puppy Zs Ensures Healthy, Lovingly Raised Goldendoodles, for an
            Exceptional Experience in Pet Ownership. <br /><br /><strong>Could you ask for more?
                <span class="text-[#186C91]">You bet:</span>
            </strong>
        </p>

        <div class="mt-6 p-2 px-3 lg:px-4">
            <div
                class="grid grid-cols-3 text-gray-500 gap-1 lg:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400">
                <a href="https://www.akc.org/" target="_blank"
                    class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                    <img class="" src="public/images/logo1.svg" alt="" />
                </a>
                <div class="lg:hidden"></div>
                <a href="https://ckcusa.com/" target="_blank"
                    class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                    <img class="" src="public/images/logo2.png" alt="" />
                </a>

                <div class="lg:hidden"></div>
                <a href="https://www.akcreunite.org/" target="_blank"
                    class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                    <img class="" src="public/images/logo3.png" alt="" />
                </a>

                <div class="lg:hidden"></div>

                <a href="https://ofa.org/" target="_blank"
                    class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                    <img class="" src="public/images/logo4.webp" alt="" />
                </a>
                <div class="lg:hidden"></div>
                <a href="https://www.pawprintgenetics.com/" target="_blank"
                    class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                    <img class="" src="public/images/logo5.jpg" alt="" />
                </a>
            </div>
        </div>
    </section>
</body>

</html>