<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        const hostname = window.location.hostname;
        let baseHref = '/';
        if (hostname === 'sheikh-tabarak.github.io') { baseHref = '/abcspuppyzs/'; }
        document.querySelector('base').setAttribute('href', baseHref);
    </script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="public/icons/favicon-circlepng.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="">

    <div class="px-8 md:px-12 lg:px-16">
        <div class="w-full max-w-screen-xl mx-auto my-8">
            <section class=" bg-white border border-gray-200 rounded-lg shadow-lg px-4 lg:px-8 py-8 ">

                <h2
                    class="text-dark text-center md:text-left lg:text-left text-[#186C91] mb-2 text-xl font-bold sm:text-[40px]/[48px]">
                    ABCs Puppy Zs

                </h2>


                <p
                    class="text-xs text-center text-gray-600 md:text-left lg:text-left leading-2 md:text-sm lg:text-md xl:text-md">
                    ABCs Puppy Zs Ensures Healthy, Lovingly Raised Goldendoodles, for an
                    Exceptional Experience in Pet Ownership. <br /><br /><strong>Could you ask for more?


                        <span class="text-[#186C91]">You bet:</span>
                    </strong>
                </p>

                <div class="mt-6 p-2 px-3 lg:px-4">
                    <div
                        class="grid grid-cols-3 text-gray-500 gap-1 lg:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400">

                        <div class="w-full  flex items-center">
                            <a aria-label="akc" href="https://www.akc.org/" target="_blank"
                                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                                <img class=" w-full " src="public/img/abcs-puppy-zs-goldendoodle-logos/akc.svg"
                                    alt="akc" />
                            </a>
                        </div>
                        <div class="lg:hidden"></div>
                        <div class=" w-full  flex items-center">
                            <a aria-label="ckc1" href="https://ckcusa.com/" target="_blank"
                                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                                <img class=" w-full " src="public/img/abcs-puppy-zs-goldendoodle-logos/ckc1.webp"
                                    alt="ckc1" />
                            </a>
                        </div>
                        <div class="lg:hidden "></div>
                        <div class="w-full  flex items-center">
                            <a aria-label="akcr" href="https://www.akcreunite.org/" target="_blank"
                                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                                <img class=" w-full " src="public/img/abcs-puppy-zs-goldendoodle-logos/akcr.png"
                                    alt="akcr" />
                            </a>
                        </div>
                        <div class="lg:hidden"></div>
                        <div class="w-full  flex items-center">
                            <a aria-label="ofa" href="https://ofa.org/" target="_blank"
                                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                                <img class="w-full " src="public/img/abcs-puppy-zs-goldendoodle-logos/ofa.webp"
                                    alt="ofa" />
                            </a>
                        </div>
                        <div class="lg:hidden"></div>
                        <div aria-label="ppg" class="w-full  flex items-center">
                            <a href="https://www.pawprintgenetics.com/" target="_blank"
                                class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 flex justify-center items-center">
                                <img class=" w-full " src="public/img/abcs-puppy-zs-goldendoodle-logos/ppg.jpg"
                                    alt="ppg" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

</html>