<!DOCTYPE html>
<html lang="en">

<head>

    <script>

        const hostname = window.location.hostname;
        let baseHref = '/';
        if (hostname === 'sheikh-tabarak.github.io') { baseHref = '/abcspuppyzs/'; }
        document.querySelector('base').setAttribute('href', baseHref);

    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css">

</head>

<body>


    <div>

        <div id="wrapper" class="px-8 mx-2 lg:mx-16 py-2">

            <div class="w-full max-w-screen-xl mx-auto  mb-4 text-center lg:text-left  ">

                <h2 class="text-dark text-[#186C91] mb-2 text-3xl font-bold sm:text-[40px]/[48px]">
                    Testimonials

                </h2> <span class="block mb-2 text-lg font-semibold text-primary">
                    Testimonials About Our Beloved Pups From Their Forever-Home Families
                </span>
                <p class="text-base text-body-color dark:text-dark-6">
                    We Adore Our Pups and Their Families, Who Share Updates as Our Pups Become Fantastic Adults, Read
                    Their
                    Stories!
                </p>
            </div>
        </div>
    </div>




    <script src="utilities/js/main.js"></script>
    <script src="components/data/testimonials.js"></script>
    <!-- <script>

        for (let index = 0; index < 3; index++) {
            document.getElementById('swiper-wrapper').innerHTML += '<div class="swiper-slide p-4 "> <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-2"> <div class="flex-shrink-0"> <a href="' + OurReviews[index].link + '" class="cursor-pointer"> <img class="h-full w-full object-cover" src="' + OurReviews[index].image + '" alt=""> </a> </div> </div> </div>'
        }

    </script> -->

    <!-- <script>  for (let index = 0; index < 3; index++) {
            document.getElementById('swiper-wrapper').innerHTML += '<div class="swiper-slide p-4 "> <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-2"> <div class="flex-shrink-0"> <a href="' + OurReviews[index].link + '" class="cursor-pointer"> <img class="h-full w-full object-cover" src="' + OurReviews[index].image + '" alt=""> </a> </div> </div> </div>'
        }
    </script> -->

</body>

</html>