<!-- Single Litter Template -->
<script src="https://cdn.tailwindcss.com"></script>
<div
    class="shadow m-10 py-10 border-[1px] rounded flex flex-wrap justify-center divide-y-2 lg:divide-y-0 lg:divide-x-2">
    <div class="w-[100%] md:w-[100%] lg:w-[60%] lg:px-10">
        <div class="text-2xl font-extrabold px-10 lg:px-0 text-center lg:text-left ">
            Momma Kahala & Father Jove
        </div>

        <p class="py-4 px-8 lg:px-0 text-center lg:text-left">Micro Teacup Goldendoodles Are Our Smallest Variety,
            Averaging
            Less Than 10lbs. These
            Are
            Goldendoodles
            in a Pocket-Size Package.

            Micro Teacup Goldendoodles Are Our Smallest Variety, Averaging Less Than 10lbs. These Are Goldendoodles
            in a Pocket-Size Package.

            Micro Teacup Goldendoodles Are Our Smallest Variety, Averaging Less Than 10lbs. These Are Goldendoodles
            in a Pocket-Size Package.

        </p>

        <table class="text-left my-4 w-content">
            <thead>

            </thead>
            <tbody class="">
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Litter Type
                    </th>
                    <td class="px-4 py-2">
                        Teacup Goldendoodle

                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Average Weight:

                    </th>
                    <td class="px-4 py-2">
                        5-15lbs

                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Litter Status:


                    </th>
                    <td class="px-4 py-2">
                        Reservations Open!
                        (1 Male - 2 Females)

                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Birthday:

                    </th>
                    <td class="px-4 py-2">
                        August 26, 2023
                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Go-Home:


                    </th>
                    <td class="px-4 py-2">
                        Weekend of November 17, 2023
                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        DNA:


                    </th>
                    <td class="px-4 py-2">
                        <div class="flex flex-wrap gap-4">
                            <button class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Father's DNA<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                            <button class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Mother's
                                DNA<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                        </div>

                    </td>
                </tr>
                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        OFA:


                    </th>
                    <td class="px-4 py-2">
                        <div class="flex  flex-wrap gap-4">
                            <button class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Father's OFA<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                            <button class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Mother's OFA<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                        </div>

                    </td>
                </tr>

                <tr class="even:bg-white odd:bg-gray-50  border-b ">
                    <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                        Galleries:


                    </th>
                    <td class="px-4 py-2">
                        <div class="flex  flex-wrap gap-4">
                            <button onclick="showGallery()"
                                class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Meet Parents<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                            <button onclick="showGallery()"
                                class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Old Photos<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                        viewBox="0 0 24 24" fill="none">
                                        <g id="Interface / External_Link">
                                            <path id="Vector"
                                                d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg></span> </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>


    </div>


    <div class="w-[100%] lg:w-[40%] px-10">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-300">
            <li class="py-3 sm:py-4">
                <div class="flex flex-wrap justify-center lg:justify-start items-center">
                    <div class="relative">
                        <div onclick="showMainPopup(' + index + ')"
                            class="absolute flex justify-center items-center right-10 top-10 cursor-pointer">
                            <div class=" absolute w-10 h-10 bg-white  rounded-full animate-ping">

                            </div>
                            <div class="absolute"><svg class="hover:scale-[1.1] transition duration-1000" width="40px"
                                    height="40px" viewBox="0 0 24 24" fill="gray" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" fill="none" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7 12C7 11.4477 7.44772 11 8 11H8.01C8.56228 11 9.01 11.4477 9.01 12C9.01 12.5523 8.56228 13 8.01 13H8C7.44772 13 7 12.5523 7 12ZM11 12C11 11.4477 11.4477 11 12 11H12.01C12.5623 11 13.01 11.4477 13.01 12C13.01 12.5523 12.5623 13 12.01 13H12C11.4477 13 11 12.5523 11 12ZM16 11C15.4477 11 15 11.4477 15 12C15 12.5523 15.4477 13 16 13H16.01C16.5623 13 17.01 12.5523 17.01 12C17.01 11.4477 16.5623 11 16.01 11H16ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                                        fill="white" />
                                </svg>

                            </div>
                        </div>

                        <img class="w-96 rounded-lg"
                            src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/micro-teacup-goldendoodle/lil-bit/1080x-mother-lil-bit-and-father-zeus-present.jpg"
                            alt="Neil image">
                    </div>
            </li>
        </ul>
    </div>
</div>








<ul role="list" class="divide-y divide-gray-200 mx-16">
    <li class="py-3 sm:py-4 cursor-pointer">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <img class="w-24 h-24 rounded-full"
                    src="https://www.abcspuppyzs.com/assets/img/familia-goldendoodle-moms/teacup-goldendoodle/kahala/litter-tuzi/360-jane-pny-wsl.jpg"
                    alt="Neil image">
            </div>
            <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-extrabold  text-gray-900 ">
                    Jane (Female)
                </p>
                <p class="text-sm text-gray-500 truncate py-3">
                    <span
                        class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Available</span>


                </p>
                <button class="bg-green-500 px-2 py-1 rounded text-white">Let's Chat</button>
            </div>
            <div>
            </div>

        </div>
    </li>
    <li class="py-3 sm:py-4 cursor-pointer">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <img class="w-24 h-24 rounded-full"
                    src="https://www.abcspuppyzs.com/assets/img/familia-goldendoodle-moms/teacup-goldendoodle/kahala/litter-tuzi/360-jane-pny-wsl.jpg"
                    alt="Neil image">
            </div>
            <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-extrabold  text-gray-900 ">
                    Jane (Female)
                </p>
                <p class="text-sm text-gray-500 truncate py-3">
                    <span
                        class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Available</span>


                </p>
                <button class="bg-green-500 px-2 py-1 rounded text-white">Let's Chat</button>
            </div>
            <div>
                <div class="inline-flex items-center text-lg font-semibold text-gray-900">
                    $5,200
                </div>
            </div>

        </div>
    </li>
</ul>


<!-- Gallery Widget -->

<div id="gallery-popup"
    class="hidden fixed bg-black bg-opacity-60 h-full  w-full z-20 top-0 flex justify-center items-center ">
    <div class="absolute right-10 top-10">

        <svg onclick="hideGallery()" class="text-white fill-white cursor-pointer" xmlns="http://www.w3.org/2000/svg"
            x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50">
            <path
                d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
            </path>
        </svg>
    </div>



    <div class="bg-white rounded-lg p-5 mx-10  lg:w-[800px]">
        <div class="m-2 w-full">
            <div class="relative w-full">

                <div id="" class="flex h-[350px] z-10">

                    <!-- Slide 01 Container -->
                    <div class="mainImage-slider transition duration-1000 gallery-item h-full w-[100%] 	">
                        <img src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/litter-tuzi/360-boid-fetch-the-gr.jpg"
                            alt="Image 1" class="w-full h-full rounded-lg object-cover	">
                    </div>

                    <!-- Slide 02 Container -->
                    <div
                        class=" mainImage-slider transition duration-1000 gallery-item h-full w-[100%] hidden video-tag-is-this">
                        <video class="w-full h-full rounded-lg object-cover " controls playsinline>
                            <source
                                src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/momma-hera-f1-mini-goldendoodles-litter-tuzi.mp4"
                                type="video/mp4">
                            <!-- Your browser does not support the video tag. -->
                        </video>
                    </div>

                    <!-- Slide 03 Container -->
                    <div class=" mainImage-slider transition duration-1000 gallery-item h-full w-[100%] hidden 	">
                        <video id="myVideo" class="w-full h-full rounded-lg object-cover video-tag" controls
                            playsinline>
                            <source
                                src="https://www.abcspuppyzs.com/assets/img/familia-goldendoodle-moms/toy-goldendoodle/quince/momma-quince-toy-goldendoodles-litter-tuzi.mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                    <!-- Slide 04 Container -->
                    <div class="mainImage-slider transition duration-1000 gallery-item h-full w-[100%] hidden">
                        <img src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/720-tala-8-weeks.jpg"
                            alt="Image 1" class="w-full h-full rounded-lg object-cover	">
                    </div>

                    <!-- Slide 05 Container -->
                    <div class="mainImage-slider transition duration-1000 gallery-item h-full w-[100%] hidden">
                        <img src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/litter-tuzi/360-boid-rocks.jpg"
                            alt="Image 1" class="w-full h-full rounded-lg object-cover	">
                    </div>

                </div>



                <!-- If we have to put the caption on the video -->

                <div class="relative hidden">
                    <div id="image-caption"
                        class="absolute p-4 bottom-0 right-auto left-auto text-white bg-[#186C91] w-full rounded-b-lg">
                        <!-- This is -->
                    </div>
                </div>




            </div>
            <div id="thumbnail-slider"
                class="flex gap-2 py-5 justify-between transition duration-500 overflow-scroll scroll-smooth  no-scrollbar [&::-webkit-scrollbar]:hidden">

                <!-- Thumbnail 01 -->

                <div onclick="setCurrentImage(0)" class="selecting-image  relative w-[28%]  lg:w-[24%] flex-shrink-0">
                    <img type="jpg" id="carosel-image"
                        src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/litter-tuzi/360-boid-fetch-the-gr.jpg"
                        alt="Ansly" class="carosel-image  w-full cursor-pointer rounded">
                    <!-- Centered Icon -->
                    <!-- <i
              class="cursor-pointer absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl fas fa-icon-name"><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px"
                style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="25px"
                xml:space="preserve">
                <g id="Layer_1" />
                <g id="play_x5F_alt">
                  <path
                    d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                    style="fill: white" />
                </g>
              </svg></i> -->
                </div>


                <!-- Thumbnail 02 -->

                <div onclick="setCurrentImage(1)" class="selecting-image  relative w-[28%]  lg:w-[24%] flex-shrink-0">
                    <img type="jpg" id="carosel-image"
                        src="https://www.abcspuppyzs.com/assets/img/familia-goldendoodle-moms/mini-goldendoodle/saylor/litter-tuzi/360-teia-oh-so-cute.jpg"
                        alt="Ansly" class="carosel-image  w-full cursor-pointer rounded">
                    <!-- Centered Icon -->
                    <i
                        class="cursor-pointer absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl fas fa-icon-name"><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px"
                            style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="25px"
                            xml:space="preserve">
                            <g id="Layer_1" />
                            <g id="play_x5F_alt">
                                <path
                                    d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                                    style="fill: white" />
                            </g>
                        </svg></i>
                </div>


                <!-- Thumbnail 03 -->

                <div onclick="setCurrentImage(2)" class="selecting-image  relative w-[28%]  lg:w-[24%] flex-shrink-0">
                    <img type="jpg" id="carosel-image"
                        src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-dads/lord-zeus/720-lord-zeus-stone-focus.jpg"
                        alt="Ansly" class="carosel-image  w-full cursor-pointer rounded">
                    <!-- Centered Icon -->
                    <i
                        class="cursor-pointer absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl fas fa-icon-name"><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px"
                            style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="25px"
                            xml:space="preserve">
                            <g id="Layer_1" />
                            <g id="play_x5F_alt">
                                <path
                                    d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                                    style="fill: white" />
                            </g>
                        </svg></i>
                </div>


                <!-- Thumbnail 04 -->

                <div onclick="setCurrentImage(3)" class="selecting-image  relative w-[28%]  lg:w-[24%] flex-shrink-0">
                    <img type="jpg" id="carosel-image"
                        src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/720-tala-8-weeks.jpg"
                        alt="Ansly" class="carosel-image  w-full cursor-pointer rounded">
                    <!-- Centered Icon -->
                    <!-- <i
              class="cursor-pointer absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl fas fa-icon-name"><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px"
                style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="25px"
                xml:space="preserve">
                <g id="Layer_1" />
                <g id="play_x5F_alt">
                  <path
                    d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                    style="fill: white" />
                </g>
              </svg></i> -->
                </div>


                <!-- Thumbnail 05 -->

                <div onclick="setCurrentImage(4)" class="selecting-image  relative w-[28%]  lg:w-[24%] flex-shrink-0">
                    <img type="jpg" id="carosel-image"
                        src="https://www.abcspuppyzs.com/assets/img/our-goldendoodle-moms/mini-goldendoodle/hera/litter-tuzi/360-boid-rocks.jpg"
                        alt="Ansly" class="carosel-image  w-full cursor-pointer rounded">
                    <!-- Centered Icon -->
                    <!-- <i
              class="cursor-pointer absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl fas fa-icon-name"><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25px"
                style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="25px"
                xml:space="preserve">
                <g id="Layer_1" />
                <g id="play_x5F_alt">
                  <path
                    d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                    style="fill: white" />
                </g>
              </svg></i> -->
                </div>

            </div>
        </div>


    </div>
</div>