<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Puppy Tabs</title>
</head>

<body>
    <!-- <div x-data="
   {
   openTab: 1,
   activeClasses: 'bg-[#186C91] text-white',
   inactiveClasses: 'text-body-color hover:bg-[#186C91] hover:text-white',
   }
   " class="w-full mb-14">
        <div class="flex flex-col flex-wrap rounded-lg border border-[#E4E4E4] py-3 px-4 sm:flex-row">
            <a href="javascript:void(0)" @click="openTab = 1" :class="openTab === 1 ? activeClasses : inactiveClasses"
                class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6">
                Details
            </a>
            <a href="javascript:void(0)" @click="openTab = 2" :class="openTab === 2 ? activeClasses : inactiveClasses"
                class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6">
                Previous Litter
            </a>
            <a href="javascript:void(0)" @click="openTab = 3" :class="openTab === 3 ? activeClasses : inactiveClasses"
                class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6">
                Meet Mom
            </a>
            <a href="javascript:void(0)" @click="openTab = 4" :class="openTab === 4 ? activeClasses : inactiveClasses"
                class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6">
                Meet Dad
            </a>
        </div>
        <div>
            <div x-show="openTab === 1" class="py-6 text-base leading-relaxed text-body-color dark:text-dark-6">
                Micro Teacup Goldendoodles Are Our Smallest Variety, Averaging Less Than 10lbs. These Are Goldendoodles
                in a Pocket-Size Package.
                Micro Teacup Goldendoodles Are Our Smallest Variety, Averaging Less Than 10lbs. These Are Goldendoodles
                in a Pocket-Size Package.
                Micro Teacup Goldendoodles Are Our Smallest Variety, Averaging Less Than 10lbs. These Are Goldendoodles
                in a Pocket-Size Package.
            </div>
            <div x-show="openTab === 2" class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">

                <div class="flex gap-4 flex-wrap p-4 justify-stretch">

                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">

                </div>
            </div>
            <div x-show="openTab === 3" class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">
                <div class="flex flex-wrap gap-4 justify-center">

                    <table class="text-left my-4 w-full">
                        <thead>

                        </thead>
                        <tbody class="">
                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Name:
                                </th>
                                <td class="px-4 py-2">
                                    lil bit
                                </td>
                            </tr>

                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Height:
                                </th>
                                <td class="px-4 py-2">
                                    7"
                                </td>
                            </tr>

                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Weight:
                                </th>
                                <td class="px-4 py-2">
                                    8lbs
                                </td>
                            </tr>
                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Genetic Information:


                                </th>
                                <td class="px-4 py-2">
                                    <div class="flex flex-wrap gap-4">
                                        <button class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Mother's
                                            DNA<span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <g id="Interface / External_Link">
                                                        <path id="Vector"
                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </g>
                                                </svg></span> </button>
                                        <button class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Mother's
                                            OFA<span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <g id="Interface / External_Link">
                                                        <path id="Vector"
                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </g>
                                                </svg></span> </button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">

                </div>
            </div>
            <div x-show="openTab === 4" class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">
                <div class="flex flex-wrap gap-4 justify-center">
                    <table class="text-left my-4 w-full">
                        <thead>
                        </thead>

                        <tbody class="">

                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Name:
                                </th>
                                <td class="px-4 py-2">
                                    Zeus
                                </td>
                            </tr>

                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Height:
                                </th>
                                <td class="px-4 py-2">
                                    8.5"
                                </td>
                            </tr>

                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Weight:
                                </th>
                                <td class="px-4 py-2">
                                    8lbs
                                </td>
                            </tr>
                            <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                <th scope="row" class="px-4 py-2 font-bold text-gray-900  ">
                                    Genetic Information:
                                </th>
                                <td class="px-4 py-2">
                                    <div class="flex flex-wrap gap-4">
                                        <button class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Father's
                                            DNA<span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <g id="Interface / External_Link">
                                                        <path id="Vector"
                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </g>
                                                </svg></span> </button>
                                        <button class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Father's
                                            OFA<span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <g id="Interface / External_Link">
                                                        <path id="Vector"
                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </g>
                                                </svg></span> </button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">
                    <img class=" rounded  w-[48%] md:w-[23%] lg:w-[23%]" src="public/images/720-abt-frg.jpg" alt="">

                </div>
            </div>
        </div>
    </div> -->




    <div id="litter-popup" data-tabs-toggle="{parentTabContentSelector}"
        class="fixed bg-white z-20 top-16 right-8 lg:right-40 left-8 lg:left-40 bottom-16 rounded-lg flex justify-center items-center shadow-lg overflow-y-auto">
        <div class="absolute right-5 top-5"> <svg onclick="hideLitter()" class="text-white fill-black cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 50 50">
                <path
                    d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
                </path>
            </svg> </div>
        <div class="absolute left-auto top-4 lg:top-0 flex flex-wrap my-10 justify-center items-center w-full  px-8">
            <div class="w-[100%] lg:w-[45%] text-center lg:text-left  pb-4 p-4"> <img class=" rounded"
                    src="' + Litters[MainItemId].image + '" alt=""> </div>
            <div class=" w-[100%] lg:w-[55%]  px-4">
                <div class="flex gap-4 items-center">
                    <div>
                        <h2 class="text-4xl">' + Litters[MainItemId].name + '</h2>
                    </div>
                    <div><span
                            class="inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-medium bg-teal-100 text-teal-600">'
                            + Litters[MainItemId].available + '</span> </div>
                </div>
                <div class="px-6 py-2 my-4 border-[1px] rounded">
                    <div class="flex gap-2 items-center">
                        <p class="text-lg"><strong>Male:</strong> ' + Litters[MainItemId].first_choice_male_price + '
                        </p> <span
                            class="inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-medium bg-teal-100 text-teal-600">First
                            Choice </span>
                    </div>
                    <p class="text-lg pb-2"><strong> Males:</strong> ' + Litters[MainItemId].males_price + '</p>
                    <div class="border-t-[1px] pt-2 flex gap-2 items-center">
                        <p class="text-lg"><strong>Female:</strong> ' + Litters[MainItemId].first_choice_female_price +
                            ' </p><span
                            class="inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-medium bg-teal-100 text-teal-600">First
                            Choice </span>
                    </div>
                    <p class="text-lg"><strong> Females:</strong> ' + Litters[MainItemId].females_price + '</p>
                </div>
                <div class="px-6  border-[1px] rounded">
                    <p class="py-2"><strong> Litter Type:</strong> ' + Litters[MainItemId].type + '</p>
                    <p class="py-2"><strong> Litter Status:</strong> ' + Litters[MainItemId].status + '</p>
                    <p class="py-2"><strong> Average Weight:</strong> ' + Litters[MainItemId].avg_weight + '</p>
                    <p class="py-2"><strong> Expecting:</strong> ' + Litters[MainItemId].expected + '</p>
                    <p class="py-2"><strong> Go Home:</strong> ' + Litters[MainItemId].goHome + '</p>
                </div>
            </div>
            <div class="pt-4 w-full" id="litter-tabs">
                <div x-data=" { openTab: 1, activeClasses: \'bg-[#186C91] text-white\', inactiveClasses: \'text-body-color hover:bg-[#186C91] hover:text-white\', } "
                    class="w-full mb-14">
                    <div class="flex flex-col flex-wrap rounded-lg border border-[#E4E4E4] py-3 px-4 sm:flex-row"> <a
                            href="javascript:void(0)" @click="openTab = 1"
                            :class="openTab === 1 ? activeClasses : inactiveClasses"
                            class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6"> Details </a> <a
                            href="javascript:void(0)" @click="openTab = 2"
                            :class="openTab === 2 ? activeClasses : inactiveClasses"
                            class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6"> Previous Litter </a>
                        <a href="javascript:void(0)" @click="openTab = 3"
                            :class="openTab === 3 ? activeClasses : inactiveClasses"
                            class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6"> Meet Mom </a> <a
                            href="javascript:void(0)" @click="openTab = 4"
                            :class="openTab === 4 ? activeClasses : inactiveClasses"
                            class="px-4 py-3 text-sm font-medium rounded-md md:text-base lg:px-6"> Meet Dad </a>
                    </div>
                    <div>
                        <div x-show="openTab === 1"
                            class="pb-10 pt-4 text-base leading-relaxed text-body-color dark:text-dark-6"> ' +
                            Litters[MainItemId].desc + ' </div>
                        <div x-show="openTab === 2"
                            class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">
                            <div id="previous-litter-gallery" class="flex gap-4 flex-wrap p-4 justify-stretch"> </div>
                        </div>
                        <div x-show="openTab === 3"
                            class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">
                            <div class="">
                                <table class="text-left my-4 w-full">
                                    <thead> </thead>
                                    <tbody class="">
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Name: </th>
                                            <td class="px-4 py-2"> ' + Litters[MainItemId].mname + ' </td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Height: </th>
                                            <td class="px-4 py-2">' + Litters[MainItemId].mheight + '</td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Weight: </th>
                                            <td class="px-4 py-2"> ' + Litters[MainItemId].mweight + '</td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Genetic
                                                Information: </th>
                                            <td class="px-4 py-2">
                                                <div class="flex flex-wrap gap-4"><a
                                                        href="' + Litters[MainItemId].mdna + '"> <button
                                                            class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Mother\'s
                                                            DNA<span> <svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="22px" height="22px" viewBox="0 0 24 24"
                                                                    fill="none">
                                                                    <g id="Interface / External_Link">
                                                                        <path id="Vector"
                                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                                            stroke="white" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                    </g>
                                                                </svg></span> </button></a> <a
                                                        href="' + Litters[MainItemId].mofa + '"> <button
                                                            class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Mother\'s
                                                            OFA<span> <svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="22px" height="22px" viewBox="0 0 24 24"
                                                                    fill="none">
                                                                    <g id="Interface / External_Link">
                                                                        <path id="Vector"
                                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                                            stroke="white" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                    </g>
                                                                </svg></span> </button></a> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="mom-image-container" class="flex flex-wrap gap-4 justify-center"> </div>
                            </div>
                        </div>
                        <div x-show="openTab === 4"
                            class="py-6 mb-20 text-base leading-relaxed text-body-color dark:text-dark-6">
                            <div class="">
                                <table class="text-left my-4 w-full">
                                    <thead> </thead>
                                    <tbody class="">
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Name: </th>
                                            <td class="px-4 py-2"> ' + Litters[MainItemId].fname + ' </td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Height: </th>
                                            <td class="px-4 py-2">' + Litters[MainItemId].fheight + '</td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Weight: </th>
                                            <td class="px-4 py-2"> ' + Litters[MainItemId].fweight + '</td>
                                        </tr>
                                        <tr class="even:bg-white odd:bg-gray-50  border-b ">
                                            <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> Genetic
                                                Information: </th>
                                            <td class="px-4 py-2">
                                                <div class="flex flex-wrap gap-4"><a
                                                        href="' + Litters[MainItemId].fdna + '"> <button
                                                            class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Father\'s
                                                            DNA<span> <svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="22px" height="22px" viewBox="0 0 24 24"
                                                                    fill="none">
                                                                    <g id="Interface / External_Link">
                                                                        <path id="Vector"
                                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                                            stroke="white" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                    </g>
                                                                </svg></span> </button></a> <a
                                                        href="' + Litters[MainItemId].fofa + '"> <button
                                                            class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Father\'s
                                                            OFA<span> <svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="22px" height="22px" viewBox="0 0 24 24"
                                                                    fill="none">
                                                                    <g id="Interface / External_Link">
                                                                        <path id="Vector"
                                                                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                                                            stroke="white" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                    </g>
                                                                </svg></span> </button></a> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="dad-image-container" class="flex flex-wrap gap-4 justify-center"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed bg-white z-20 right-8 lg:right-40 left-8 lg:left-40 bottom-16 px-8 py-4 rounded-lg">
                <button class="w-full bg-[#186C91] p-4 text-white">INQUIRE NOW</button>
            </div>
        </div>
</body>

</html>







<!-- Gallery -->

<!-- <div id="gallery-popup" onclick="hideGallery()"
        class="hidden fixed bg-black bg-opacity-60 h-full  w-full z-20 top-0 flex justify-center items-center">
        <div class="absolute right-10 top-10">

            <svg onclick="hideGallery()" class="text-white fill-white cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50">
                <path
                    d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
                </path>
            </svg>
        </div>
    </div> -->


<!-- DNA AND OFA BUTTONS -->

<tr class="even:bg-white odd:bg-gray-50  border-b ">
    <th scope="row" class="px-4 py-2 font-bold text-gray-900  "> DNA: </th>
    <td class="px-4 py-2">
        <div class="flex flex-wrap gap-4"> <a href="' + Litters[index].fdna + '"><button
                    class=" flex gap-1 bg-[#186C91] px-2 py-1 rounded text-white">Father\'s DNA<span> <svg
                            xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24"
                            fill="none">
                            <g id="Interface / External_Link">
                                <path id="Vector"
                                    d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                        </svg></span> </button></a> <a href="' + Litters[index].mdna + '"><button
                    class="flex gap-1  bg-[#186C91] px-2 py-1 rounded text-white">Mother\'s DNA<span> <svg
                            xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24"
                            fill="none">
                            <g id="Interface / External_Link">
                                <path id="Vector"
                                    d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                        </svg></span> </button></a> </div>
    </td>
</tr>